body {
    text-align: center;
    background-image: url("paper.gif");
    font-size: 100%;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
    padding: 20px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px gray;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    border: 5px solid rgba(22, 17, 2, 0.979);
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

form {
    font-size: 20px;
    color: black;
    font-weight: bold;
}

input[type=number] {
    width: 6em;
    background-color: rosybrown;
}

input[type="submit"] {
    display: inline;
    color: rgb(202, 29, 29);
    background-color: black;
    border-radius: 20px;
    font-size: 20px;
}


input[type=number]:focus {
    background-color: rgb(192, 82, 48);
}
